<header class="bg-body-tertiary d-flex align-items-center py-2">
  <div class="container mx-auto d-flex">
    <div
      class="d-flex align-items-center pe-3 border-end justify-content-between col-5 col-lg-4 content-between"
    >
      <app-logo />
      <h2 class="h5 mb-0 fw-light text-nowrap d-none d-sm-block">Board name</h2>
    </div>
    <nav
      class="navbar navbar-expand-lg d-flex flex-grow-1 align-items-center justify-content-end ps-3"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav2"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav2">
        <button class="btn btn-outline-secondary mb-2 mb-lg-0">
          All board
        </button>
        <div class="ms-auto pe-5 pg-lg-0">
          <app-user-dropdown />
        </div>
      </div>
    </nav>
  </div>
</header>
