<p>
  <button
    class="btn btn-outline-secondary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseWidthExample"
    aria-expanded="false"
    aria-controls="collapseWidthExample"
  >
    Private
  </button>
</p>
<div style="min-height: 120px">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px">
      <header class="mb-3">
        <h5 class="h5 mb-1">Visibility</h5>
        <p>Choose who can see to this board.</p>
      </header>
      <button
        class="btn btn-outline-secondary d-flex flex-column align-items-center mb-2"
      >
        <h6 class="h6 mb-0">Public</h6>
        <span>Anyone on the internet can see this.</span>
      </button>
      <button
        class="btn btn-outline-secondary d-flex flex-column align-items-center"
      >
        <h6 class="h6 mb-0">Private</h6>
        <span>Only board members can see this.</span>
      </button>
    </div>
  </div>
</div>
